.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}


/* MovieActor.css */
.section-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.actor-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.actor-list li {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 75%;
  margin-left: 11rem;
}

.actor-list li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actor-list strong {
  font-weight: bold;
}

.actor-list button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.actor-list button:hover {
  background-color: #0056b3;
}

.page-input{
  padding: 10px;
  border-radius: 5px;
}

.page-label {
  font-size: 18px;
  color: #555;
  margin-right: 10px;
  padding: 10px;
}

.fetch-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-left: 2rem;
  border-radius: 5px;
}
/* Add more CSS styles as needed */

.search{
  margin-left: 35%;
}

.actor-load{
  text-align: center;
}